@model cfares.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content rounded" id="main">
    <div class="inner-content wrapper model create edit">
        <div class='model badge'>
            <h1>Change Password</h1>            

            <p>
                Use the form below to change your password. 
            </p>
            <p>
                New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
            </p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

        
    <fieldset>
        
        <div class='legend inline-block'>Account Information</div>

        <div class='model-field field-OldPassword'>
            <div class="editor-label inline-block">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field inline-block">
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class='model-field field-NewPassword'>
            <div class="editor-label inline-block">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field inline-block">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class='model-field field-ConfirmPassword'>
            <div class="editor-label inline-block">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field inline-block">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

                
    </fieldset>
    <div class='submit-block admin-green'>
            <div class='editor-label inline-block inline-block'>
            
            </div>
            <div class='editor-field inline-block inline-block'>
                <input type="submit" data-icon="ui-icon-disk" class='jq-button' value="Change Password" />
            </div>
            
        </div>
}

        </div>        
     </div>
</div>