@model cfares.domain._event.ResEvent
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Details.cshtml";
}

            <h1>Event Details</h1>
            <h2>@Model.ToString()</h2> @* rclark: changed for more emphasis *@
             @Html.Partial("ModelDetail/_ResEvent")

	
@section Action{
	<div class='button-cta'>
		@Html.ActionLink("Slot Dashboard", "Summary", new { id = Model.Id() }, new { data_icon = "ui-icon-circle-arrow-e" })
	</div>
    <div class='button-cta'>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id() }, new { data_icon = "ui-icon-pencil" })
    </div>
}

@section Table
{

<script type="text/javascript">
    var occurrences = new DomainModel.OccurrenceCollection();
    occurrences.abstract = true;
    occurrences.setWhere("model",{ResEventId:@Model.ResEventId});
</script>

    <div class='admin-table'>
        @Html.Partial("Tables/_Occurrence","occurrences")
    </div>
}