@model cfaresv2.Areas.MyAccount.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<h1>Change Your Password</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 offset3 controls">
		
	@using (Html.BeginForm("Password", "Profile", new {area = "MyAccount"}, FormMethod.Post, new {id = "passwordReset", @class = "form-horizontal", style = "display: inline"})) {

		<div class="control-group password-current-block">
			@Html.LabelFor(model => model.PasswordCurrent, "Current Password:", new {@class = "control-label"})
			<div class="controls">
				@Html.TextBoxFor(model => model.PasswordCurrent, new { @type = "password" })
				@Html.ValidationMessageFor(model => model.PasswordCurrent)
			</div>
		</div>
		<div class="control-group pad25">
			@Html.LabelFor(model => model.PasswordNew, "New Password:", new {@class = "control-label"})
			<div class="controls">
				@Html.TextBoxFor(model => model.PasswordNew, new { @type = "password" })
				@Html.ValidationMessageFor(model => model.PasswordNew)
			</div>
		</div>
		<div class="control-group">
			@Html.LabelFor(model => model.PasswordNewConfirm, "Re-enter New Password:", new {@class = "control-label"})
			<div class="controls">
				@Html.TextBoxFor(model => model.PasswordNewConfirm, new { @type = "password" })
				@Html.ValidationMessageFor(model => model.PasswordNewConfirm)
			</div>
		</div>
		<div class="control-group pad25">
			<div class="controls">
				<button type="submit" class="btn-large btn btn-primary">Save Password</button>
			</div>
		</div>
	}
	</div>
</div>