@model cfacore.domain._base.DomainObject
@{    
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content rounded" id="main">    
    <div class="inner-content wrapper model edit">
        <div class='model badge'>
        
            @RenderBody()
            
			<div class='admin-table-2'>
            @if (IsSectionDefined("Action"))
            {
                @RenderSection("Action")
            }
            else if (Roles.IsUserInRole("Admin"))
            { 
                bool isPaid = false;
				if(Model is npr.domain._event.ticket.NPRTicket) { isPaid = (Model as npr.domain._event.ticket.NPRTicket).IsPaid; }
				
                <div class='button-cta padding-left-0' data-icon="ui-icon-circle-close">
                    @Html.ActionLink( isPaid?"Issue Refund":"Delete", "Delete", new { id = Model.Id() })
                </div>
            } 
            
            @if (IsSectionDefined("Cancel"))
            {
                @RenderSection("Cancel")
            }
            else { 
                <div class='dash-cta'>
                    @Html.ActionLink("Cancel", "Details", new { id = Model.Id() })
                </div>
            }           
            </div>
            
        </div>
    </div>
</div>
@if (IsSectionDefined("Meta")) {DefineSection("Meta", () => RenderSection("Meta"));}
@if (IsSectionDefined("Footer")) {DefineSection("Footer", () => RenderSection("Footer"));}
@if (IsSectionDefined("Header")) {DefineSection("Header", () => RenderSection("Header"));}

@section Scripts{
@RenderSection("Scripts",false)
}