@using cfacore.shared.Helpers
@using cfares.Global
@using cfacore.shared.modules.com.request
@using cfacore.shared.modules.com.admin
@using SquishIt.Framework

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
<head>
    <title>@ViewBag.Title | Chick-fil-A Administration</title>
    @{string[] Css = new[]{
        "~/Content/themes/base/jquery.ui.core.css",
        "~/Content/themes/base/jquery.ui.resizable.css",
        "~/Content/themes/base/jquery.ui.selectable.css",
        "~/Content/themes/base/jquery.ui.accordion.css",
        "~/Content/themes/base/jquery.ui.autocomplete.css",
        "~/Content/themes/base/jquery.ui.button.css",
        "~/Content/themes/base/jquery.ui.dialog.css",
        "~/Content/themes/base/jquery.ui.slider.css",
        "~/Content/themes/base/jquery.ui.tabs.css",
        "~/Content/themes/base/jquery.ui.datepicker.css",
        "~/Content/themes/base/jquery.ui.progressbar.css",
        "~/Content/themes/base/jquery.ui.theme.css",
        
        "~/Content/Reset.css",
        "~/Content/Site.css",
        "~/Areas/Admin/Content/Site.css",        
        "~/Content/plugins.css",
        "~/Content/themes/admin-blue/jquery-ui-1.8.18.custom.css",
        "~/Content/themes/admin-orange/jquery-ui-1.8.18.custom.css",
        "~/Content/themes/admin-orange-invert/jquery-ui-1.8.18.custom.css",
        "~/Content/themes/admin-red/jquery-ui-1.8.18.custom.css",
        "~/Content/themes/admin-green/jquery-ui-1.8.18.custom.css",
        "~/Content/themes/admin-table/jquery-ui-1.8.18.custom.css",
        "~/Scripts/datatables/ColVis-1.0.7/media/css/ColVis.css",
        "~/Scripts/datatables/TableTools-2.0.3/media/css/TableTools_JUI.css"
    };}    
    @Html.Raw(Bundle.Css().Add(Css).Render("~/Content/gen/combinedadmin9999_#.css")) 
    @{string[] Scripts = new[] { 
          "~/Scripts/jquery-1.5.1.js",
          "~/Scripts/datajs-1.0.2.min.js", 
          "~/Scripts/modernizr-1.7.js",
            "~/Scripts/jquery/plugins.js",
            "~/Scripts/jquery-ui-1.8.11.js",
            "~/Scripts/jquery.dataTables.js",
            "~/Scripts/jquery/jquery.jeditable.js",
            "~/Scripts/jquery.validate.js",
            "~/Scripts/jquery.validate.unobtrusive.min.js",
            "~/Scripts/datatables/KeyTable.js",
          "~/Scripts/datatables/jquery.dataTables.editable.js",
          "~/Scripts/datatables/plugins.js",
          
          "~/Scripts/api/api-base.js",
          "~/Scripts/datatables/ColVis-1.0.7/media/js/ColVis.js",
          "~/Scripts/datatables/TableTools-2.0.3/media/js/TableTools.js",
          "~/Scripts/datatables/TableTools-2.0.3/media/js/ZeroClipboard.js",
          "~/Scripts/Underscore.js",
          "~/Scripts/backbone.dev.js",
          "~/Scripts/backbone.localStorage.js",
          "~/Scripts/plugins.js"
      };}
    @Html.Raw(Bundle.JavaScript().Add(Scripts).Render("~/Scripts/gen/combinedadmin116_#.js"))
    <script src="@Url.Content("~/Admin/AutoScript/DomainModel.js")" type="text/javascript"></script>
    <script src="http://www.chick-fil-a.com/Scripts/API/CFA.0.3.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/init.js")" type="text/javascript"></script>
    @if ((ViewData["browser"] as BrowserInfo) != null)
    {
        foreach (string s in ((BrowserInfo)ViewData["browser"]).browserCSS)
        {
    @:<link href="@Url.Content("~/Content/Browser/" + @s + ".css")" rel="stylesheet" type="text/css" />
        }
    }
    
    @Html.ResApplicationScript()
    @Html.GlobalTimeData()
    <!--ResEvent Hint
    @ViewBag.ResEventHint
    -->

    @if (IsSectionDefined("Meta"))
    {
        @RenderSection("Meta")
    }
    else
    {
        
    }
    <script type="text/javascript">
        $(window).load(function () {
            window.setTimeout(function () {
                $("th[data-column-name='StartD']").click();
            }, 500);
        });
        
    </script>
</head>
<body class=' @Html.BrowerBodyClasses(ViewData["browser"]) @Html.RouteClasses() '>
    <div class="page">
        <div class="page">
            <div class="page header-bar">
            asdf
            </div>
            <div class="content" id="header">asdf
                <a id='logo' href="/Admin" class='inline-block'>
                    asdf
                </a>
                <div class='top-menu inline-block'>
                    <div id="toptitle">
                        <h2 class='caecilia inline-block'>@Html.ApplicationTitle()</h2>
                        <!--<h3 class='caecilia inline-block'>Corporate Admin</h3>-->
                    </div>
                    
                    <div id="logindisplay" class="">
                        @Html.TourAdminCrumbs()
                        @Html.Partial("_AdminLogOnPartial")
                    </div>                   

                </div>
            </div>
            <div class='wizard page'>
                <div class='wizard content'>
                    <div class='wizard wrapper'>
                    @{
                        if (ViewContext.ParentActionViewContext != null && ViewContext.ParentActionViewContext.ViewData["Wizard"] != null)
                        {
                            Wizard wizard = (Wizard)ViewContext.ParentActionViewContext.ViewData["Wizard"];
                            ViewBag.Wizard = wizard;
                            Html.RenderPartial("_WizardPartial", wizard);
                        }
                        else if (ViewContext != null && ViewContext.ViewData["Wizard"] != null)
                        {
                            Wizard wizard = (Wizard)ViewContext.ViewData["Wizard"];
                            ViewBag.Wizard = wizard;
                            Html.RenderPartial("_WizardPartial", wizard);
                        }
                        else if (ViewContext.ParentActionViewContext != null && ViewContext.ParentActionViewContext.ViewData["Message"] != null)
                        {
                            Html.RenderPartial("_MessagePartial", ViewContext.ParentActionViewContext.ViewData["Message"]);
                        }
                        else if (ViewContext.ViewData["Message"] != null)
                        {
                            Html.RenderPartial("_MessagePartial", ViewContext.ViewData["Message"]);
                        }
                        else if (IsSectionDefined("WizardBanner"))
                        {
                            @RenderSection("WizardBanner")
                        }
                        else
                        {
                            Html.RenderPartial("_AdminTitlePartial");
                        }
                    }
                    </div>
                </div>
            </div>

            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
        </div>

        
        
        
        @RenderBody()
            

        <div class="content" id="footer">
            @if (IsSectionDefined("Footer"))
            {
                @RenderSection("Footer")
            }
        </div>
    </div>
    <iframe id="xcel_src"></iframe>
</body>
</html>
