@using cfares.site.modules.Helpers
@model cfaresv2.Areas.MyAccount.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<h1>Forgot Your Password</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 offset3 controls">
	    @using (Html.BeginForm(null, null, FormMethod.Post, new {action = Request.Url.TranslatePort(Request), id = "passwordReset", @class = "form-horizontal"})) {

		    @Html.ValidationSummary(true)

		    <div class="control-group">
			    @Html.LabelFor(m => m.EmailAddress, "Email:", new {@class = "control-label"})
			    <div class="controls">
				    @Html.EditorFor(x => x.EmailAddress)
					@Html.ValidationMessageFor(m => m.EmailAddress)
			    </div>
		    </div>
		    <div class="control-group">
			    @Html.LabelFor(m => m.ConfirmEmail, "Re-enter Email:", new {@class = "control-label"})
			    <div class="controls">
				    @Html.EditorFor(x => x.ConfirmEmail)
					@Html.ValidationMessageFor(m => m.ConfirmEmail)
			    </div>
		    </div>
		    <div class="control-group pad25">
			    <div class="controls">
				    <button type="submit" class="btn-large btn btn-primary">Submit</button>
			    </div>
		    </div>
	    }
	</div>
</div>