@using cfares.site.modules.com.application
@model cfares.domain._event.Slot
@{string pk = Model.IsBound() ? Model.Id().ToString() : "new";}

    <fieldset data-pk='@pk' class='slot-@pk'>
            
            @if (Model.Occurrence != null && Model.Occurrence.ResEvent!=null){
                <div class='legend inline-block'>@Model.Occurrence.ResEvent.Name</div>   
                
            }
            else{
                 <div class='legend inline-block'>Slot Details</div>   
            }
            <div class='model-field field-Start'>
               <div class="display-label inline-block">Slot Start</div>
                <div class="display-field inline-block">
                    @Model.Start.ToString("MM/dd/yyyy hh:mm")
                </div>
            </div>

            <div class='model-field field-End'>
               <div class="display-label inline-block">Slot End</div>
                <div class="display-field inline-block">
                    @Model.End.ToString("MM/dd/yyyy hh:mm")
                </div>
            </div>
        

            <div class='model-field field-Cutoff'>
               <div class="display-label inline-block">Reservation Cutoff</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.Cutoff)
                </div>
            </div>
            

            <div class='model-field field-Occurance'>
               <div class="display-label inline-block">Event Occurrence</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.Occurrence)
                </div>
            </div>

            <div class='model-field field-Occurance'>
               <div class="display-label inline-block">Status</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.Status)
                </div>
            </div>

            <div class='model-field field-Capacity'>
               <div class="display-label inline-block">Capacity</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.Capacity)
                </div>
            </div>

            <div class='model-field field-TicketsAvailable'>
               <div class="display-label inline-block">Reservations</div>
                <div class="display-field inline-block">
                    @((Model.IssuedTickets == null) ? 0 : Model.IssuedTickets.Count())
                </div>
            </div>

            <div class='model-field field-TicketsAvailable'>
               <div class="display-label inline-block">Reservations Available</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.TicketsAvailable)
                </div>
            </div>

			@if( AppContext.Current.Configuration.ApplicationId == Application.CFA ) {

            @*
             carson: not showing schedule info http://management.thefoundryagency.com:8010/browse/CFARES-538

				<div class='model-field field-Schedule'>
				   <div class="display-label inline-block">Schedule</div>
					<div class="display-field inline-block">
						@Html.DisplayFor(model => model.Schedule)
					</div>
				</div>

				<div class='model-field field-IsScheduled'>
				   <div class="display-label inline-block">Is Scheduled</div>
					<div class="display-field inline-block">
						@Html.DisplayFor(model => model.IsScheduled)
					</div>
				</div>
            *@
			}
            
        </fieldset>