@{
    Layout = "~/Areas/tours/Views/Shared/_Layout.cshtml";
    ViewBag.Style = "one-column.css";
}

<div class="notification">
@section meta{
     @if (IsSectionDefined("Meta"))
    {
        @RenderSection("Meta")
    }
}
    
    @if (IsSectionDefined("Modify"))
    {  
        @RenderSection("Modify")
    }
    
     @if (IsSectionDefined("Lost"))
    {  
        @RenderSection("Lost")
    }

    @if (IsSectionDefined("Login"))
    {  
        @RenderSection("Login")
    }
    
    @if (IsSectionDefined("Calendar"))
    {  
        @RenderSection("Calendar")
    }
    
    @RenderBody()


</div>
