<div class="form-section"> <span class="field-requirement">* </span>
    <span>Type of Group : <span class="legal-aside"> (click all that apply)</span></span> 
    <div class="checkboxgroup">
        <span class="checkboxwrapper">@Html.CheckBox("type") Family with Kids</span> 
        <span class="checkboxwrapper">@Html.CheckBox("type") Family without Kids</span>
        <span class="checkboxwrapper">@Html.CheckBox("type") Religious Group</span> 
        <span class="checkboxwrapper">@Html.CheckBox("type") Business Group</span>
        <span class="checkboxwrapper">@Html.CheckBox("type") School Group</span> 
        <span class="checkboxwrapper">@Html.CheckBox("type") Adult Group</span>
        <span class="checkboxwrapper">@Html.CheckBox("type") Senior Group</span> 
        <span class="checkboxwrapper">@Html.CheckBox("type") Operator Raving Fans</span> 
    </div> 
</div>
