<h1>Frequently Asked Questions</h1>

<h3>Time</h3>
<div id="faq-time" class="faq-section">
    <h4><a href="#" class="faq-question">Q:  What are the available tour times and dates?</a></h4>
    <div><div class="A">A: </div>  For groups 1-40 in size, tours are available at 9:30 A.M., 1:00 P.M. and 3:00 P.M., Monday – Friday. For large groups 41 – 120, tours are available on a limited basis and reservations must be made a month in advance. To make a reservation, click here or call 1-800-232-2677.<br/><br /> @Html.Partial("Faq/CaresPartial") </div>
    
    <h4><a href="#">Q:  How do I cancel or reschedule a tour? </a></h4>
    <div><div class="A">A: </div>  To cancel or reschedule your tour reservation, please contact us at 1-800-232-2677. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>
    
    <h4><a href="#">Q:  How long is the tour? </a></h4>
    <div><div class="A">A: </div>  The tour is approximately 1 hour and 30 minutes long. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>
</div>

<h3>Logistics</h3>
<div id="faq-logistics" class="faq-section">
    <h4><a href="#">Q:  How much does the tour cost?</a></h4>
    <div><div class="A">A: </div>  The tour is free! If you elect the 9:30 A.M. time slot, there is a $6.50 lunch option that will need to be paid in cash at check-in.<br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  Do we pay for parking?</a></h4>
    <div><div class="A">A: </div>  Parking is completely free. Upon arrival, please check with the gate guard for a guest parking slip. We have a parking lot designed for our guests. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  How do we get to the Chick-fil-A Home Office?</a></h4>
    <div><div class="A">A: </div>  Our address is 5200 Buffington Road, Atlanta, GA 30349. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  Is your building wheelchair accessible?</a></h4>
    <div><div class="A">A: </div> Yes. Please call 1-800-232-2677 ahead of your scheduled tour so our team can help make accommodations. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  Will there be a lot of walking?</a></h4>
    <div><div class="A">A: </div>  The entire tour is done through walking. We recommend wearing comfortable shoes.  <br/><br /> @Html.Partial("Faq/CaresPartial") </div>
</div>

<h3>About the Tour</h3>
<div id="faq-tour" class="faq-section">
    <h4><a href="#">Q:  What are the group size requirements?</a></h4>
    <div><div class="A">A: </div>  We accommodate groups and individuals. Our small group tours are for groups 1-40 in size, while our large group tours are for groups 41 – 120 in size. For more details, please call 1-800-232-2677.<br/><br /> @Html.Partial("Faq/CaresPartial") </div>
    
    <h4><a href="#">Q:  What is the appropriate age group for the tour?</a></h4>
    <div><div class="A">A: </div>  People of all ages have enjoyed our tours over the years. We feel that the best ages are 6 and up. This is to ensure the best tour experience for all guests. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  What will I experience on the tour?</a></h4>
    <div><div class="A">A: </div>  You’ll have the opportunity to take a photo with the cows alongside a life size billboard, go on a guided backstage tour through our home office, have an opportunity to meet staff members, visit the Chick-fil-A Museum, walk back in time to experience Truett’s first Dwarf Grill, visit Founder Truett Cathy’s office and visit the retail gift shop to purchase and take home a memory. <br/><br /> @Html.Partial("Faq/CaresPartial") </div>

    <h4><a href="#">Q:  How can I learn more about the Chick-fil-A story outside of the tour? </a></h4>
    <div><div class="A">A: </div>  Our website, <a href="http://www.chick-fil-a.com">www.chick-fil-a.com</a>, is full of resources we’d love for you to check out! If you are interested in learning more about the Cathy Family, please visit <a href="http://www.cathyfamily.com">www.cathyfamily.com</a>.  <br/><br /> @Html.Partial("Faq/CaresPartial")</div>

    <h4><a href="#">Q:  Will we see Truett or a member of the Cathy Family?</a></h4>
    <div><div class="A">A: </div>  As you can imagine, Truett and the Cathy Family maintain a busy schedule. If they are in the office, there is a chance that you would see them, but we can’t make any promises!  <br/><br /> @Html.Partial("Faq/CaresPartial")</div>
</div>